.navbar-color {
    background-color: #fafafa;
    background-image: -moz-linear-gradient(top, $white, $gray-300);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from($white), to($gray-300));
    background-image: -webkit-linear-gradient(top, $white, $gray-300);
    background-image: -o-linear-gradient(top, $white, $gray-300);
    background-image: linear-gradient(to bottom, $white, $gray-300);
    background-repeat: repeat-x;
    border: 1px solid #d4d4d4;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    // box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    box-shadow: 0 5px 6px -2px rgba(0,0,0,.3);
    border-top: 1px solid #e0e0e0;
    opacity: 1;
}

.menu-items {
    justify-content: flex-end;
}

.navbar-collapse {
    flex-basis: 100%;
}

.logo {
    width: 50%;
}